.aut_cont_banner
{
    height: 120vh;
    width: 1350px;
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/fondoportafolio2.jpg");
}

.aut_sobra
{    
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 80%;
    height: 65vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.912);
    /*background-color: rgba(0, 0, 0, 0.6);*/
    color: white;
    margin: auto;
    margin-top: 15%;
}

.aut_sobra img{
    width: 425px;
    height: 425px;
    opacity: 0;
    animation: aut_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: aut_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.aut_sobra hr
{
    border-top: 1px solid white;
}

.entrada
{
    font-size: 6vw;
    margin-bottom: 10px;
    opacity: 0;
    animation: aut_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: aut_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
}

.aut_sobra p
{
    font-size: 3vw;
    margin-bottom: 10px;
    opacity: 0;
    animation: aut_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: aut_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.aut_cont_banner_link
{
    margin: 15px;
    position: relative;
}

.aut_cont_banner_link a
{
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
}

.aut_cont_banner_link a:hover
{
    background-color: white;
    color: #111;
}

.aut_banner_link
{
    opacity: 0;
    animation: aut_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: aut_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;

}

.aut_banner_link_1
{
    opacity: 0;
    animation: aut_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: aut_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.aut_banner_link_2
{
    opacity: 0;
    animation: aut_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: aut_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}

.aut_cont_banner_sec_3
{
    height: 70vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/fondoportafolio2.jpg");
    position: relative;
    padding: 10%;
    margin-top: 200px;
    margin-bottom: 100px;
}

.aut_cont_banner_sec_3 h2{
    text-align: right;
}

.aut_sombra
{    
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 80%;
    height: 50vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.912);
    /*background-color: rgba(0, 0, 0, 0.6);*/
    color: white;
    margin: auto;
    margin-top: 1%;
}

.aut_sombra h2
{
    font-size: 4vw;
    text-align:center ;
    margin-bottom: 10px;
    opacity: 0;
    animation: aut_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: aut_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.content_sombra div{
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.content_sombra .card{
    background-color:  rgba(39, 39, 39, 0.678) !important;
    
    width: 300px;
}

.content_sombra .card:hover{
    background-color:  rgba(226, 24, 24, 0.678) !important;
}
.content_sombra .card .card-body{
    transition: all 0.3s ease;
}
.content_sombra .card:hover .card-body{
    transform: scale(1.05);
}
.content_sombra .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.content_sombra .card:hover i{
    color: #fff;
}
.content_sombra .card .card-title{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.aut_cont_img
{
    padding: 5%;
}

.head{
    font-size: 20px;
    color: black;
    font-style:oblique;
    
}

.sub-title{
    color: rgb(216, 216, 216);
}
