*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Cormorant Garamont', serif;
}

.aut_navbar
{
  /*background-color:  rgba(8, 61, 131, 0.953) !important;*/
  background-color:  transparent !important;
  position:absolute;
  /*background-color: transparent !important;
  background: url(../images/fondoportafolio2.jpg) no-repeat center;
  background-position:top;
  background-attachment: fixed;*/
}

.aut_navbar div, .aut_navbar ul 
{
    background-color: transparent !important;
    
}

.aut_navbar li:hover{
    background-color: rgba(223, 223, 223, 0.336) !important;
}

.aut_navbar a{
    color: black !important;
    font-size: 20px;
}

.cont_sec{

    background-color: rgb(228, 205, 190);
}


.aut_cont_sec_1
{
    padding: 0%;
    height: 75vh;
}

.aut_cont_sec_1 h2{
    color: rgb(0, 0, 0);
    
}

.aut_cont_sec_1 p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    
}

.aut_cont_sec_1_link
{
    padding: 5%;
}

.aut_cont_sec_1_link img{
    width: 230px;
    height: 230px;
    opacity: 0;
    animation: aut_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: aut_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.aut_cont_sec_1_link a
{
    width: 200px;
    background-color: rgba(0, 0, 0, 0.789);
}

.aut_cont_sec_1_link a:hover{
    background-color:  rgba(0, 0, 0, 0) !important;
    color: black;
}

.aut_cont_sec_1_link button{
    margin-top: 60px;
    margin-left: 20px;
    
    
}

.aut_cont_sec_1 hr
{
    border-top:  0.5px solid rgba(0, 0, 0, 0.433);
}


