
.icon-picture-outline:before { content: '\e800'; } /* '' */
.icon-phone-outline:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-contacts:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */